body{
    background-color: black;
}
a{
    color: white;
    
}
p{
    color: white;
}

.aboutus{
    align-content: center;
}
/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
  }
  